body {
  background: #090909;
}

/*fonts*/
@font-face {
  font-family: neuemedium;
  src: url(fonts/ppneuemontreal-medium-webfont.woff);
  src: url(fonts/ppneuemontreal-medium-webfont.woff2);
}
@font-face {
  font-family: neuebook;
  src: url(fonts/ppneuemontreal-book-webfont.woff);
  src: url(fonts/ppneuemontreal-book-webfont.woff2);
}

@font-face {
  font-family: neuebook;
  src: url(fonts/ppneuemontreal-book-webfont.woff);
  src: url(fonts/ppneuemontreal-book-webfont.woff2);
}
@font-face {
  font-family: ppitalic;
  src: url(fonts/ppeditorialnew-italic-webfont.woff);
  src: url(fonts/ppeditorialnew-italic-webfont.woff2);
}

@font-face {
  font-family: semiitalic;
  src: url(fonts/ppneuemontreal-semibolditalic-webfont.woff);
  src: url(fonts/ppneuemontreal-semibolditalic-webfont.woff2);
}

/* NAV */
* {
  box-sizing: border-box;
}

header {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "neuebook", sans-serif;
  line-height: 1.6;
  margin: 15px;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 16px;
  color: white;
  font-family: neuebook;
}

h2,
h3,
a {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.vidtext {
  display: flex;
  flex: 1;
  justify-content: center;
  white-space: nowrap;
  clear: both;
  margin-top: -40px;
  z-index: 2;
}

.Exhibition {
  font-family: "ppitalic";
}

.logo {
  max-width: 30%;
}

.logo a,
.main-nav a {
  padding: 5px 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.opencall {
  border: 3px solid white;
}

.main-nav a {
  color: white;
  font-size: 15px;
}

.main-nav a:hover {
  color: #6d0055;
}

/* navover*/

/*footer*/
.footerheadings {
  font-size: 20px;
}
footer {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  border: white solid 3px;
}

#contact_footer {
  display: flex;
}

#info_footer {
  display: flex;
}

#some_footer {
  display: flex;
}

#contact_footer li a,
#info_footer li a,
#some_footer li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  line-height: 1.7rem;
}

#logo_footer {
  display: flex;
}

ul {
  list-style: none;
}

.anti {
  font-family: "ppitalic";
  text-transform: lowercase;
  font-size: 100px;
}

.antis {
  font-family: "ppitalic";
  text-transform: lowercase;
  font-size: 50px;
}

.scrollingtexttwo {
  padding-top: 3%;
}

h1 {
  font-size: 5rem;
  color: white;
  font-family: "neuemedium";
}

.scrolltext {
  overflow-x: hidden;
  overflow: hidden;
  border: 3px white solid;
  padding: 0%;
}

.scrolltext {
  align-content: center;
  display: flex;
  margin-top: 0px;
  text-transform: uppercase;
  animation: floatText 60s infinite linear;
  padding-left: 10%;
  display: inline-block;
  white-space: nowrap;

  font-weight: bold;
}

.scrollingtext {
  padding-bottom: 0px;
}

.rippedpaper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes floatText {
  to {
    transform: translateX(-70%);
  }
}
.header {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.logo {
  max-width: 40%;
}

button {
  border: 1px solid white;
  padding: 10px 10px;
  background: none;
  text-transform: uppercase;
  text-align: center;
  zoom: 1.5;

  font-size: 15px;
  display: flex;
  justify-content: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #090909;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  z-index: 1;
}

.vgbutton {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: -5px;
  zoom: 1.5;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: WHITE;
  background-color: #090909;
  border: 3px WHITE SOLID;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.mainvid {
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  z-index: -1;
  flex-direction: row;
  margin-top: -15px;
}

.tape {
  position: absolute;
  left: 23rem;
  top: 18rem;
  width: 170px;
  height: 170px;
}

.tape img {
  max-width: 100%;
}

.vid {
  overflow: hidden;
  z-index: -1;
  opacity: 100%;
}

#artistlisttemplate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 -0.5em 0 -0.5em;
  border-bottom: rgb(255, 255, 255) solid 2px;
}

.artisthover {
  max-width: 100%;
}

.firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  padding-top: 14%;
}

.secondrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
}

.imgg {
  width: 250px;
  opacity: 60%;
}

.overlaytext {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
  margin-top: -700px;
}

.hereto {
  font-size: 150px;
  z-index: 1;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: semiitalic;
}

.exhibtext {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  z-index: 1;
  max-width: 100px;
  font-size: 100px;
  margin-bottom: -100px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: -50px;
  margin-left: 0px;
  line-height: normal;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.exhibnav {
  display: flex;
  padding-top: 14%;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: flex-end;
  padding-bottom: 5%;
}

.plasticnav {
  width: 30%;
  height: 30%;
}
.bloodnav {
  width: 30%;
  height: 30%;
}

/* ================================= 
  NEED FOR STREET
==================================== */

.coverpic {
  max-width: 100%;
  opacity: 50%;
  overflow-y: hidden;
}

.cover {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  z-index: -1;
}

.covertitle {
  margin-top: -350px;
  align-self: center;
  z-index: 1;
}

.coverinfo {
  border: white solid 3px;
  background-color: #090909;
  display: flex;
  flex-direction: row;
  margin-top: 160px;
  justify-content: space-between;
}

.galbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
}

.streetinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10%;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
}

.streetpic {
  z-index: -1;
  opacity: 30%;
  margin-top: 70px;
  margin-left: -80px;
}
.streettitle {
  white-space: nowrap;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;

    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}
