body {
  background: #000000;
}

/*preloader*/

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  /* top: 50%; ******* <- Remove this line ******** */
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/*cursor*/

div.cursors div {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 32px;
  height: 32px;
  background-color: #8c00ff;
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

div.cursors div span {
  position: absolute;
  top: 0;
  left: 40px;
  width: 300px;

  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #7700ff;

  opacity: 0;
  transition: opacity 0.5s;
}

div.cursors div span.visible {
  opacity: 1;
}

/*fonts*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: neuemedium;
  src: url(fonts/ppneuemontreal-medium-webfont.woff);
  src: url(fonts/ppneuemontreal-medium-webfont.woff2);
}
@font-face {
  font-family: neuebook;
  src: url(fonts/ppneuemontreal-book-webfont.woff);
  src: url(fonts/ppneuemontreal-book-webfont.woff2);
}

@font-face {
  font-family: neuebook;
  src: url(fonts/ppneuemontreal-book-webfont.woff);
  src: url(fonts/ppneuemontreal-book-webfont.woff2);
}
@font-face {
  font-family: ppitalic;
  src: url(fonts/ppeditorialnew-italic-webfont.woff);
  src: url(fonts/ppeditorialnew-italic-webfont.woff2);
}

@font-face {
  font-family: semiitalic;
  src: url(fonts/ppneuemontreal-semibolditalic-webfont.woff);
  src: url(fonts/ppneuemontreal-semibolditalic-webfont.woff2);
}

/* NAV */
* {
  box-sizing: border-box;
}

.icon-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.icon {
  display: none;
}

header {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "neuebook", sans-serif;
  /* line-height: 1.6; */
  /* margin: 15px; */
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-size: 60px;
  margin-bottom: 0%;
  font-family: "Bebas Neue";
}

p {
  font-size: 16px;
  color: white;
  font-family: neuebook;
}

h2,
h3,
a {
  color: #ffffff;
}

a {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.vidtext {
  display: flex;
  flex: 1;
  justify-content: center;
  white-space: nowrap;
  clear: both;
  margin-top: -40px;
  z-index: 2;
}

.Exhibition {
  font-family: "ppitalic";
  font-size: 50px;
}

.logo {
  max-width: 70%;
  margin-left: 3%;
}

.main-nav a {
  padding: 5px 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 60px;
}

.opencall {
  border: 3px solid white;
}

.main-nav a {
  color: white;
  font-size: 15px;
}

.main-nav a:hover {
  color: #8c00ff;
}

/* navover*/

/*preloader*/

/*footer*/
.footerheadings {
  font-size: 20px;
}
footer {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  border: white solid 3px;
}

#contact_footer {
  display: flex;
}

#info_footer {
  display: flex;
}

#some_footer {
  display: flex;
}

#contact_footer li a,
#info_footer li a,
#some_footer li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  line-height: 1.5rem;
}

.footerheadings {
  font-family: "Bebas Neue";
  font-size: 30px;
  text-decoration: underline white solid 2px;
}

.footerheadings b {
  text-decoration: underline white solid 2px;
  line-height: 1.4;
}

#logo_footer {
  display: flex;
  align-self: center;
  margin-right: -20%;
}

ul {
  list-style: none;
}

.anti {
  font-family: "ppitalic";
  text-transform: lowercase;
  font-size: 100px;
}

.antis {
  font-family: "ppitalic";
  text-transform: lowercase;
  font-size: 50px;
}

.scrollingtexttwo {
  padding-top: 3%;
}

h1 {
  font-size: 7rem;
  color: white;
  /* font-family: "neuemedium"; */
  font-family: "Bebas Neue";
}

.scrolltextt {
  overflow-x: hidden;
  overflow: hidden;
  border-bottom: 3px white solid;
  padding: 0%;
}

.insta {
  display: flex;
  flex-direction: column;
}

.insta h1 {
  text-align: center;
}

.at {
  color: blueviolet;
}

.igmockups {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p {
  font-size: 20px;
}
h2 {
  margin-top: 0%;
}

.scrolltext {
  overflow-x: hidden;
  overflow: hidden;
  border: 3px white solid;
  padding: 0%;
}

.scrolltext {
  align-content: center;
  display: flex;
  margin-top: 0px;
  text-transform: uppercase;
  animation: floatText 60s infinite linear;
  padding-left: 10%;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
}

.scrollingtext {
  padding-bottom: -10px;
}

.rippedpaper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1.scrolltext {
  padding: 0px 0px 0px 0px;
  font-size: 120px;
  margin: 0px 0px 0px 0px;
  line-height: 1;
}
@keyframes floatText {
  to {
    transform: translateX(-70%);
  }
}
.header {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border-bottom: solid white 3px;
}

.logo {
  max-width: 40%;
}

.gif {
  margin-right: -280px;
  margin-top: 120px;
  z-index: 1;
  transform: rotate(280deg);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes floatt {
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }

  0% {
    transform: translatey(0px);
  }
}

button {
  border: 1px solid white;
  padding: 10px 10px;
  background: none;
  text-transform: uppercase;
  text-align: center;
  zoom: 1.5;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

button:hover {
  color: black;
  background-color: white;
  border: 1px solid white;
}

button a:hover {
  color: black;
}

/* Dropdown Button */
.dropbtn {
  background-color: #090909;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  z-index: 1;
}

.vgbutton {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: 5px;
  padding-top: 4%;
  padding-bottom: 4%;
  zoom: 1.2;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: WHITE;
  background-color: #090909;
  border: 3px WHITE SOLID;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.mainvid {
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  z-index: -1;
  flex-direction: row;
  margin-top: 70px;
}

.videotext {
  zoom: 1.5;
}

.tape {
  position: absolute;
  left: 20rem;
  top: 13rem;
  width: 270px;
  height: 270px;
}

.tape img {
  max-width: 100%;
}

.vid {
  overflow: hidden;
  z-index: -1;
  opacity: 100%;
}

#artistlisttemplate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#plasticartisttemplate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artisthover {
  max-width: 100%;
}

.firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  padding-top: 14%;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.secondrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2%;
  transform: translatey(0px);
  animation: floatt 6s ease-in-out infinite;
}

.imgg {
  width: 250px;
  opacity: 60%;
}

.overlaytext {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
  margin-top: -700px;
}

.hereto {
  font-size: 150px;
  z-index: 1;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: semiitalic;
}

.exhibtext {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  z-index: 1;
  max-width: 100px;
  font-size: 120px;
  line-height: 0.9;
  margin-bottom: -100px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: -50px;
  margin-left: 0px;

  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

h2 .exhibtext {
  line-sp: 1rem;
}

.exhibnav {
  display: flex;
  padding-top: 29%;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  align-items: flex-end;
  padding-bottom: 5%;
  justify-content: space-around;
  padding-right: 10%;
  padding-left: 10%;
}

a .plasticnav {
  width: 70%;
  height: 70%;
  padding-left: -10%;
  max-width: 100%;
  width: 400px;
  opacity: 60%;
}
a .bloodnav {
  width: 70%;
  height: 70%;
  max-width: 100%;
  width: 400px;
  opacity: 60%;
}

a .bloodnav:hover {
  opacity: 100%;
}
a .plasticnav:hover {
  opacity: 100%;
}

a {
  padding: 0%;
}

/* ================================= 
  NEED FOR STREET
==================================== */

.coverpic {
  max-width: 100%;
  opacity: 80%;
  overflow-y: hidden;
}

.cover {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  z-index: -1;
  align-items: center;
}

.covertitle {
  margin-top: -350px;
  align-self: center;
  z-index: 1;
}

.coverinfo {
  border: white solid 3px;
  background-color: #090909;
  display: flex;
  flex-direction: row;
  margin-top: 140px;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 10%;
  line-height: 1;
}

.galbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
}

.streetinfo {
  display: flex;
  padding-top: 5%;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5%;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
}

.streetpic {
  z-index: -1;
  opacity: 30%;
  margin-top: 70px;
  margin-left: -80px;
}

.streettitle {
  white-space: nowrap;
}

/* ================================= 
  OPENCALL
==================================== */

.left {
  display: flex;
  flex-direction: column;

  max-width: 50%;
  flex-wrap: wrap;
  flex-grow: 1;
}

input {
  color: transparent;
  border: solid white 3px;
  height: 30px;
}

.right {
  justify-content: space-evenly;
  border: white solid 3px;
  display: flex;
  flex-grow: 1;
  padding-top: 3%;
  padding-bottom: 3%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 0;
  padding: rem;
}

form ul {
  color: white;
  list-style-type: circle;
  margin-left: 3%;
  font-size: 18px;
}

form ul li {
  text-align: left;
}

.left h2 {
  line-height: 0.5;
  padding-top: 4%;
}

form label {
  line-height: 1.5rem;
  font-weight: lighter;
  margin-top: 10px;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: left;

  width: 100%;
}

label h2 {
  padding-bottom: 6%;
}

.openmain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.opencallbut {
  width: 40%;
  align-self: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* ================================= 
PLASTIC
==================================== */

.plasticpics {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.plasticpics img {
  padding: 50px;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
  justify-content: space-around;
  opacity: 60%;
}

.plasticpics img:hover {
  opacity: 100%;
}

.plasticinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid white 3px;
  margin-top: 5%;
}

.plasticinfo p {
  text-align: center;
  width: 50%;
}

.plasticinfo h2 {
  padding-top: 3%;
  text-decoration: underline white solid 3px;
}

.artistnamee {
  opacity: 50%;
  padding-left: 5%;
}

.artistnamee:hover {
  opacity: 100%;
  text-decoration: underline white solid 3px;
  text-underline-offset: 0.2em;
}

/* ================================= 
ARTISTS
==================================== */

.arttitle {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  margin-left: 5%;
  margin-bottom: -10px;
  padding-top: 10%;
}

.artistname {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: uppercase;
  margin-bottom: -100px;
  white-space: nowrap;
  margin-top: 20px;
  opacity: 50%;
}

.artistname:hover {
  opacity: 100%;
  text-decoration: underline white solid 3px;
  text-underline-offset: 0.2em;
}

.artisthover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  height: 470px;
  margin-bottom: -300px;
  z-index: -1;
  display: none;
}

#artisttlistlink {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  row-gap: -400px;
  margin: 5%;
}

/* ================================= 
ARTIST 
==================================== */

.artistcover {
  max-width: 100%;
  opacity: 60%;
  overflow-y: hidden;
}

.nameofartist {
  margin-top: -350px;
  margin-bottom: 150px;
  align-self: center;
  z-index: 1;
}

.sociallinks {
  border: white solid 3px;
  background-color: #090909;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0%;
  z-index: 2;
  opacity: 100%;
  margin-top: 70px;
}

.sociallinks h2 {
  margin-top: 0%;
  background-color: #090909;
}

.artistinfo {
  display: flex;
  flex-wrap: row;
  justify-content: space-around;
  margin-top: 5%;
}

.artwork {
  display: flex;
  flex-wrap: row;
  justify-content: space-around;
}

.artwork h3 {
  border: white solid 3px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  align-self: center;
}

.artistinfo img {
  max-width: 500px;
  max-height: 750px;
  justify-content: space-around;
}

.quote {
  display: flex;
  flex-direction: row;
  border-top: 3px white solid;
  border-bottom: 3px white solid;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-top: 7%;
}

.quote {
  font-style: italic;
  font-size: 25px;
}

.bigbiography {
  display: flex;
  flex: row;
  justify-content: space-around;
  padding-right: 9%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.artistimg {
  max-width: 100%;
  height: auto;
  z-index: -1;
  margin-left: -10%;
}

.biography {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

/* ================================= 
  ABOUT 
==================================== */
.about {
  padding: 3%;
}

.arrows {
  position: absolute;
  left: 50%;
  padding-bottom: 10%;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
  justify-content: center;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.bblogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 6%;
  padding-top: 6%;
}

.whoweare {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.whowearetext {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.whoimg {
  max-width: 100%;
  height: auto;
  width: 600px;
  height: 550px;
}

.hh {
  margin: 0%;
}

.whatwedo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding-top: 15%;
}

.quote h3 {
  align-self: center;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#quotee {
  margin-top: 10%;
}

.whatwedotext {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.whywedoit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
}

.whytext {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-top: -15%;
}

.thanksimg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6%;
}

.thanks {
  margin-top: 10%;
}
p {
  line-height: 1.4;
}

.thankstxt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;

    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}

@media all and (max-width: 375px) {
  h1 {
    font-size: 30px;
  }
  .icon {
    display: block;
    position: absolute;
    left: 350px;
    top: 20px;
  }

  body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media all and (max-width: 800px) {
  .icon {
    display: block;
    position: absolute;
    left: 669px;
    top: 20px;
  }

  .tape {
    display: none;
  }
  .logo img {
    zoom: 1.5;
  }

  a.dropbtn {
    align-self: center;
  }

  .main-nav {
    width: 100%;
    /* display: block; */
    text-align: center;
    margin-top: 5%;
    display: none;
  }

  .active {
    display: block;
  }
}

@media all and (max-width: 500px) {
  header {
    flex-direction: column;
    position: sticky;
  }

  .scrolltext {
    overflow-x: hidden;
    overflow: hidden;
  }

  body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
  }
  .icon {
    display: block;
    position: absolute;
    left: 329px;
    top: 20px;
  }

  .logo img {
    zoom: 1.5;
  }

  a.dropbtn {
    align-self: center;
  }

  .main-nav {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 5%;
    display: none;
  }

  .active {
    display: block;
  }
  .vid {
    max-width: 100%;
    margin-top: 3%;
    height: auto;
    width: 800px;
    height: 300px;
  }

  .mainvid {
    margin-top: 0%;
  }
  .tape {
    display: none;
  }

  .artistname {
    opacity: 100%;
    line-height: 1.6;
    padding-bottom: 7%;
    margin-bottom: -60px;
  }
  .exhibnav {
    padding-top: 50%;
  }
  .igmockups {
    padding-bottom: 20%;
  }

  .exhibtext {
    margin-top: 20%;
  }

  h2 {
    font-size: 35px;
    line-height: 1.1;
  }

  h2 .Exhibition {
    font-size: 30px;
  }

  .rippedpaper img {
    max-width: 100%;
    height: auto;
    width: 8000px;
  }

  .firstrow {
    gap: 6%;
    display: none;
  }

  form {
    padding: 8%;
  }

  .secondrow {
    gap: 6%;
    display: none;
  }

  .hereto {
    padding-bottom: 5%;
  }

  .overlaytext {
    display: none;
  }

  .exhibtext {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    margin-top: 0%;
    padding-top: 0%;
    font-size: 40px;
    margin-left: -170px;
    padding: 0%;
    padding-bottom: 10%;
    text-align: center;
    white-space: nowrap;
  }

  .gif {
    display: none;
  }

  .exhibnav {
    display: flex;
    padding-top: 0%;
    flex-direction: column;
    align-items: center;
  }

  footer {
    text-align: center;
    flex-direction: column-reverse;
  }

  #info_footer {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #some_footer {
    display: flex;
    justify-content: center;
  }

  #logo_footer {
    display: flex;
    justify-content: center;
    margin-right: 6%;
  }

  #contact_footer {
    display: flex;
    justify-content: center;
  }

  .openmain {
    display: flex;
    flex-direction: column;
    padding: 3%;
    overflow-x: hidden;
  }

  .left h2 {
    text-align: center;
    margin-top: 19px;
    max-width: 195%;
    padding-top: 10%;
  }

  .left p {
    margin-bottom: 0%;
    max-width: 190%;
    text-align: center;
    line-height: 1.2;
  }

  .coverpic {
    max-width: 300%;
    height: auto;
  }

  h3 {
    font-size: 15px;
  }

  .covertitle {
    font-size: 60px;
    margin-top: -250px;
  }

  a {
    font-size: 10px;
    white-space: nowrap;
  }
  button {
    max-width: 50%;
  }

  .coverinfo {
    padding-left: 3px;
    padding-right: 3px;
  }

  .streetinfo {
    display: flex;
    flex-direction: column-reverse;
  }

  p {
    font-size: 14px;
    line-height: 1.3;
  }

  .plasticinfo p {
    width: 80%;
  }
  .bblogo {
    display: flex;
    justify-content: center;
    zoom: 2;
  }

  .whoweare {
    display: flex;
    flex-direction: column-reverse;
  }

  .whatwedo {
    display: flex;
    flex-direction: column-reverse;
  }

  .whywedoit {
    display: flex;
    flex-direction: column-reverse;
  }
  .thanksimg {
    display: flex;
    flex-direction: column;
  }

  .thankstxt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cover {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 100%;
    z-index: -1;
    align-items: center;
  }

  .artistcover {
    max-width: 300%;
    height: auto;
  }

  .nameofartist {
    font-size: 60px;
    margin-top: -250px;
  }

  .artistinfo {
    display: flex;
    flex-direction: column;
  }

  .imgone {
    padding-bottom: 7%;
  }

  .quote {
    text-align: center;
  }

  .bigbiography {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .biography {
    max-width: 100%;
  }
  .artistimg {
    align-self: center;
    padding: 0%;
    margin: 0%;
  }

  .whoimg {
    width: 100%;
    height: 50%;
    margin-right: -50px;
  }

  .whatimg {
    width: 90%;
    height: 50%;
    margin-right: -50px;
    align-self: center;
    margin-left: -12%;
  }

  .arrows {
    display: none;
  }

  .bblogo {
    width: 150%;
    height: 150%;
    padding: 0%;
    margin-left: -26%;
  }

  .whowearetext {
    align-self: flex-start;
    padding-top: 3%;
    padding-left: 6%;
  }

  .whatwedotext {
    align-self: flex-start;
    padding-top: 3%;
    padding-left: 6%;
  }
  .whowearetext p {
    width: 300px;
    height: 300px;
  }

  .whatwedotext p {
    width: 300px;
    height: 200px;
  }

  .whyimg {
    display: none;
  }

  .whytext {
    align-self: flex-start;
    padding-top: 20%;
    padding-left: 6%;
    padding-bottom: 40%;
  }

  .whytext button {
    margin-top: 15%;
    display: none;
  }

  .whytext p {
    width: 300px;
    height: 300px;
  }

  .hh {
    white-space: nowrap;
  }
}
