body {
  background: #090909;
}

/*fonts*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: neuemedium;
  src: url(fonts/ppneuemontreal-medium-webfont.woff);
  src: url(fonts/ppneuemontreal-medium-webfont.woff2);
}
@font-face {
  font-family: neuebook;
  src: url(fonts/ppneuemontreal-book-webfont.woff);
  src: url(fonts/ppneuemontreal-book-webfont.woff2);
}

@font-face {
  font-family: neuebook;
  src: url(fonts/ppneuemontreal-book-webfont.woff);
  src: url(fonts/ppneuemontreal-book-webfont.woff2);
}
@font-face {
  font-family: ppitalic;
  src: url(fonts/ppeditorialnew-italic-webfont.woff);
  src: url(fonts/ppeditorialnew-italic-webfont.woff2);
}

@font-face {
  font-family: semiitalic;
  src: url(fonts/ppneuemontreal-semibolditalic-webfont.woff);
  src: url(fonts/ppneuemontreal-semibolditalic-webfont.woff2);
}

/* NAV */
* {
  box-sizing: border-box;
}

header {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "neuebook", sans-serif;
  line-height: 1.6;
  margin: 15px;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-size: 50px;
  margin-bottom: 0%;
  font-family: "Bebas Neue", cursive;
}

p {
  font-size: 16px;
  color: white;
  font-family: neuebook;
}

h2,
h3,
a {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.vidtext {
  display: flex;
  flex: 1;
  justify-content: center;
  white-space: nowrap;
  clear: both;
  margin-top: -40px;
  z-index: 2;
}

.Exhibition {
  font-family: "ppitalic";
}

.logo {
  max-width: 30%;
}

.logo a,
.main-nav a {
  padding: 5px 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.opencall {
  border: 3px solid white;
}

.main-nav a {
  color: white;
  font-size: 15px;
}

.main-nav a:hover {
  color: #ff00c8;
}

/* navover*/

/*preloader*/

/*footer*/
.footerheadings {
  font-size: 20px;
}
footer {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  border: white solid 3px;
}

#contact_footer {
  display: flex;
}

#info_footer {
  display: flex;
}

#some_footer {
  display: flex;
}

#contact_footer li a,
#info_footer li a,
#some_footer li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  line-height: 1.7rem;
}

#logo_footer {
  display: flex;
}

ul {
  list-style: none;
}

.anti {
  font-family: "ppitalic";
  text-transform: lowercase;
  font-size: 100px;
}

.antis {
  font-family: "ppitalic";
  text-transform: lowercase;
  font-size: 50px;
}

.scrollingtexttwo {
  padding-top: 3%;
}

h1 {
  font-size: 7rem;
  color: white;
  /* font-family: "neuemedium"; */
  font-family: "Bebas Neue", cursive;
}

.scrolltextt {
  overflow-x: hidden;
  overflow: hidden;
  border-bottom: 3px white solid;
  padding: 0%;
}

.scrolltext {
  overflow-x: hidden;
  overflow: hidden;
  border: 3px white solid;
  padding: 0%;
}

.scrolltext {
  align-content: center;
  display: flex;
  margin-top: 0px;
  text-transform: uppercase;
  animation: floatText 60s infinite linear;
  padding-left: 10%;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
}

.scrollingtext {
  padding-bottom: -10px;
}

.rippedpaper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6%;
}

h1.scrolltext {
  padding: 0px 0px 0px 0px;
  font-size: 120px;
  margin: 0px 0px 0px 0px;
  line-height: 1;
}
@keyframes floatText {
  to {
    transform: translateX(-70%);
  }
}
.header {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border-bottom: solid white 3px;
}

.logo {
  max-width: 40%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes floatt {
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

button {
  border: 1px solid white;
  padding: 10px 10px;
  background: none;
  text-transform: uppercase;
  text-align: center;
  zoom: 1.5;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #090909;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  z-index: 1;
}

.vgbutton {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: 5px;
  padding-bottom: 6%;
  zoom: 1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: WHITE;
  background-color: #090909;
  border: 3px WHITE SOLID;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.mainvid {
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  z-index: -1;
  flex-direction: row;
  margin-top: 70px;
}

.videotext {
  zoom: 1.5;
}

.tape {
  position: absolute;
  left: 20rem;
  top: 13rem;
  width: 270px;
  height: 270px;
}

.tape img {
  max-width: 100%;
}

.vid {
  overflow: hidden;
  z-index: -1;
  opacity: 100%;
}

#artistlisttemplate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artisthover {
  max-width: 100%;
}

.firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  padding-top: 14%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.secondrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: floatt 6s ease-in-out infinite;
}

.imgg {
  width: 250px;
  opacity: 60%;
}

.overlaytext {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
  margin-top: -700px;
}

.hereto {
  font-size: 150px;
  z-index: 1;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: semiitalic;
}

.exhibtext {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  z-index: 1;
  max-width: 100px;
  font-size: 90px;
  margin-bottom: -100px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: -50px;
  margin-left: 0px;
  line-height: normal;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.exhibnav {
  display: flex;
  padding-top: 14%;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: flex-end;
  padding-bottom: 5%;
  justify-content: space-around;
  padding-right: 10%;
  padding-left: 10%;
}

a .plasticnav {
  width: 70%;
  height: 70%;
  padding-left: -10%;
  max-width: 100%;
  width: 400px;
  opacity: 60%;
}
a .bloodnav {
  width: 70%;
  height: 70%;
  max-width: 100%;
  width: 400px;
  opacity: 60%;
}

a .bloodnav:hover {
  opacity: 100%;
}
a .plasticnav:hover {
  opacity: 100%;
}

a {
  padding: 0%;
}

/* ================================= 
  NEED FOR STREET
==================================== */

.coverpic {
  max-width: 100%;
  opacity: 50%;
  overflow-y: hidden;
}

.cover {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  z-index: -1;
  align-items: center;
}

.covertitle {
  margin-top: -350px;
  align-self: center;
  z-index: 1;
}

.coverinfo {
  border: white solid 3px;
  background-color: #090909;
  display: flex;
  flex-direction: row;
  margin-top: 160px;
  justify-content: space-between;
}

.galbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
}

.streetinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10%;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
}

.streetpic {
  z-index: -1;
  opacity: 30%;
  margin-top: 70px;
  margin-left: -80px;
}

.streettitle {
  white-space: nowrap;
}

/* ================================= 
  OPENCALL
==================================== */

.left {
  display: flex;
  flex-direction: column;

  max-width: 50%;
  flex-wrap: wrap;
  flex-grow: 1;
}

input {
  color: transparent;
  border: solid white 3px;
  height: 30px;
}

.right {
  justify-content: space-evenly;
  border: white solid 3px;
  display: flex;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 0;
  padding: rem;
}

form ul {
  color: white;
  list-style-type: circle;
  margin-left: 3%;
  font-size: 18px;
}

form ul li {
  text-align: left;
}

form label {
  line-height: 1.5rem;
  font-weight: lighter;
  margin-top: 10px;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: left;

  width: 100%;
}

.openmain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.opencallbut {
  width: 40%;
  align-self: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* ================================= 
PLASTIC
==================================== */

.plasticpics {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.plasticpics img {
  padding: 50px;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
  justify-content: space-around;
  opacity: 60%;
}

.plasticpics img:hover {
  opacity: 100%;
}

.plasticinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid white 3px;
}

.plasticinfo p {
  text-align: center;
  width: 50%;
}

/* ================================= 
ARTISTS
==================================== */

.arttitle {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  margin-left: 5%;
}

.artistname {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: uppercase;
  margin-bottom: -100px;
  white-space: nowrap;
  margin-top: 20px;
  opacity: 50%;
}

.artistname:hover {
  opacity: 100%;
  text-decoration: underline white solid 3px;
  text-underline-offset: 0.2em;
}

.artisthover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  height: 470px;
  margin-bottom: -300px;
  z-index: -1;
  display: none;
}

#artisttlistlink {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  row-gap: -400px;
  margin: 5%;
}

/* ================================= 
ARTIST 
==================================== */

.artistcover {
  max-width: 100%;
  opacity: 60%;
  overflow-y: hidden;
}

.nameofartist {
  margin-top: -350px;
  margin-bottom: 150px;
  align-self: center;
  z-index: 1;
}

.sociallinks {
  border: white solid 3px;
  background-color: #090909;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0%;
  z-index: 2;
  opacity: 100%;
  margin-top: 70px;
}

.sociallinks h2 {
  margin-top: 0%;
  background-color: #090909;
}

.artistinfo {
  display: flex;
  flex-wrap: row;
  justify-content: space-around;
  margin-top: 5%;
}

.artwork {
  display: flex;
  flex-wrap: row;
  justify-content: space-around;
}

.artwork h3 {
  border: white solid 3px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  align-self: center;
}

.artistinfo img {
  max-width: 500px;
  max-height: 750px;
  justify-content: space-around;
}

.quote {
  display: flex;
  flex-direction: row;
  border-top: 3px white solid;
  border-bottom: 3px white solid;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-top: 7%;
}

.quote {
  font-style: italic;
  font-size: 25px;
}

.bigbiography {
  display: flex;
  flex: row;
  justify-content: space-around;
  padding-right: 9%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.artistimg {
  max-width: 100%;
  height: auto;
  z-index: -1;
  margin-left: -10%;
}

.biography {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

/* ================================= 
  ABOUT 
==================================== */
.about {
  padding: 3%;
}

.arrows {
  position: absolute;
  left: 50%;
  padding-bottom: 10%;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
  justify-content: center;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.bblogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 6%;
  padding-top: 6%;
}

.whoweare {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.whowearetext {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.whoimg {
  max-width: 100%;
  height: auto;
  width: 600px;
  height: 550px;
}

.hh {
  margin: 0%;
}

.whatwedo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding-top: 15%;
}

.quote h3 {
  align-self: center;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#quotee {
  margin-top: 10%;
}

.whatwedotext {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.whywedoit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
}

.whytext {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-top: -15%;
}

.thanksimg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6%;
}

.thanks {
  margin-top: 10%;
}

.thankstxt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;

    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}
